{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./client/src/styles/base.css",
    "tailwindConfig": "./client/tailwind.confis.ts",
    "trailingComma": "es5",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "printWidth": 120
}
