@import 'tailwindcss';

@layer base {
    /* Disable transitions */
    .disable-transitions,
    .disable-transitions * {
        transition: none !important;
    }

    /* Typography */
    .typography {
        font-size: var(--text-base);
        color: var(--color-gray-800);

        @variant dark {
            color: var(--color-gray-300);
        }
    }

    h1, h2, h3, h4 {
        @apply text-gray-900 dark:text-gray-100 scroll-mt-24 font-medium leading-normal md:scroll-mt-32 md:leading-normal lg:scroll-mt-48 lg:leading-normal;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    /* Links */
    /* TODO */
}
